<p-carousel
  [value]="viaggi"
  [circular]="false"
  [numScroll]="3"
  [numVisible]="3"
  [responsiveOptions]="responsiveOptions">
  <ng-template #item let-product>
    <div class="border border-surface rounded-border m-2 p-4">
      <div class="mb-4">
        <div class="relative mx-auto">
          <img [ngSrc]="product.image" alt="trip image" class="w-full rounded-border">
        </div>
      </div>
      <div class="mb-4 font-medium">
        {{product.citta}}
      </div>
      <!--Devo aggiungere un btn per "Scopri di più"-->
      <div class="flex justify-between items-center">
        <span>
          <p-button [outlined]="true" icon="pi pi-heart" severity="secondary"/>
          <p-button icon="pi pi-shopping-cart" styleClass="ml-2"/>
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
