<p-menubar [model]="items">
    <ng-template #start>
      <fa-icon [icon]="faPlaneDeparture" style="color: #F4A261;"></fa-icon>
      <span class="px-3">BuckleUp</span>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a pRipple routerLink='/home' class="flex items-center p-menubar-item-link">
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
          <a routerLink="/admin">
          <p-button *ngIf="admin" [rounded]="true" severity="danger">
            <span class="ms-1">Admin</span>
            <fa-icon [icon]="faGear"></fa-icon>
          </p-button>
          </a>
          <p-button *ngIf="!admin && !login" (click)="showDialog()" [rounded]="true" severity="info">
            <span class="ms-1" #btnLogin >Login</span>
            <fa-icon [icon]="faRightToBracket"></fa-icon>
          </p-button>
          <p-button *ngIf="login" [rounded]="true" (onClick)="logout()" severity="help">
          <span class="ms-1">Logout</span>
          <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </p-button>
          <p-dialog pRipple header="Login" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <div *ngIf="!model_login" class="flex items-center gap-4 mb-4">
              <label for="nome" class="font-semibold w-24">Nome</label>
              <input pInputText id="nome" [(ngModel)]="nome" class="flex-auto" autocomplete="off" />
            </div>
            <div *ngIf="!model_login" class="flex items-center gap-4 mb-4">
              <label for="Cognome" class="font-semibold w-24">Cognome</label>
              <input pInputText id="Cognome" [(ngModel)]="cognome" class="flex-auto" autocomplete="off" />
            </div>
            <div *ngIf="!model_login" class="flex items-center gap-4 mb-4">
              <label for="DataNascita" class="font-semibold w-24">Data di Nascita</label>
              <input pInputText type="date" id="DataNascita" class="flex-auto" autocomplete="off" [(ngModel)]="data_nascita" />
            </div>
            <div class="flex items-center gap-4 mb-4">
              <label for="email" class="font-semibold w-24">Email</label>
              <input pInputText id="email" [(ngModel)]="email" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex items-center gap-4 mb-8">
              <label for="password" class="font-semibold w-24">Password</label>
              <input pInputText type="password" [(ngModel)]="password" id="password" class="flex-auto" autocomplete="off" />
            </div>
            <div *ngIf="messaggio_visibile" class="flex justify-center items-center mb-8">
              <p-message [severity]="tipo_messaggio">{{messaggio}}</p-message>
            </div>
            <div class="flex justify-end gap-2">
              <p-button label="Registrati" severity="secondary" (click)="!model_login ? registrazione() : model_login = false"/>
              <p-button label="Login" (click)="model_login ? loginFun() : model_login = true" severity="info" />
            </div>
          </p-dialog>
        </div>
      </ng-template>
</p-menubar>
