<div class="mt-5 grid grid-cols-2 gap-2">
  <div *ngFor="let viaggio of viaggi">
    <p-card  [header]="viaggio['nomePacchetto']">
      <img [ngSrc]="viaggio.immagine" width="556" height="185" alt="trip image" class="w-full rounded-border">
      <div class="grid grid-cols-2 mt-4">
        <span class="text-lg">{{viaggio["citta"]}}</span>
        <div class="flex flex-row-reverse">
          <span [class]="('fi fi-' + viaggio.paese[0].toLowerCase())"></span>
          <span class="text-lg mx-1">{{viaggio["paese"][1]}}</span>
        </div>
      </div>
      <p class="mt-1 font-light text-sm">{{viaggio["descrizione"]}}</p>
      <div class="grid grid-cols-2 mt-2">
        <p-button label="Maggiori dettagli" outlined severity="primary"/>
        <div class="flex flex-row-reverse">
          <p-button label="..." outlined severity="secondary" (onClick)="menu.toggle($event); nome = viaggio['nomePacchetto'];"/>
          <p-menu #menu [model]="items" [popup]="true" />
        </div>
      </div>
    </p-card>
  </div>
</div>
<p-card class="flex justify-center items-center w-screen mt-4" header="Vuoi aggiungere un nuovo pacchetto?">
<p-button class="mt-2 flex justify-center" label="Clicca qui" severity="success" outlined rounded (onClick)="apriModal();" />
</p-card>
<p-dialog [header]="header" modal [(visible)]="modal_visible" [style]="{'width': '50vw'}" class="w-screen">
      <div class="flex items-center gap-4 mb-4">
        <label for="nome" class="font-semibold w-28">Nome pacchetto</label>
        <input pInputText id="nome" class="flex-auto" [(ngModel)]="nome" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="posto" class="font-semibold w-28">Località</label>
        <input pInputText id="posto" class="flex-auto" [(ngModel)]="posto" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="nazione" class="font-semibold w-28">Nazione</label>
        <input pInputText id="nazione" class="flex-auto" [(ngModel)]="nazione" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="descrizione" class="font-semibold w-28">Descrizione</label>
        <input pInputText id="descrizione" class="flex-auto" [(ngModel)]="descrizione" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="costo" class="font-semibold w-28">Costo a persona</label>
        <input pInputText type="number" min="0" id="costo" [(ngModel)]="costo" class="flex-1" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="postiLiberi" class="font-semibold w-28">Posti liberi</label>
        <input pInputText type="number" min="0" id="postiLiberi" [(ngModel)]="postiLiberi" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="Periodo" class="font-semibold w-28">Periodo</label>
        <p-datePicker appendTo="body" [(ngModel)]="periodo" id="Periodo" class="flex-auto" dateFormat="dd/mm/yy" selectionMode="range" showIcon iconDisplay="input"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="partenza" class="font-semibold w-28">Aereoporto di partenza</label>
        <p-autoComplete  [suggestions]="this.partenze_filtrate"  (completeMethod)="filtro($event)" id="partenza" [(ngModel)]="partenza" class="flex-auto"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="arrivo" class="font-semibold w-28">Aereoporto di arrivo</label>
        <input pInputText id="arrivo" [(ngModel)]="arrivo" class="flex-auto"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="immagine" class="font-semibold w-28">Immagine</label>
        <input pInputText id="immagine" [(ngModel)]="immagine" class="flex-auto"/>
      </div>
      <p-message [severity]="tipo_messaggio" closable [hidden]="!messaggio_visibile">{{messaggio}}</p-message>
      <div class="flex justify-end gap-2 mt-3">
        <p-button label="Annulla" outlined severity="secondary" (onClick)="modal_visible = false"/>
        <p-button #btn [label]="labelBtn" outlined (onClick)="aggiungi()"/>
      </div>
  </p-dialog>
<p-toast/>
<p-confirm-dialog/>
