<p-menubar [model]="items">
  <ng-template #start>
    <fa-icon [icon]="faPlaneDeparture" style="color: #F4A261;"></fa-icon>
    <span class="px-3">BuckleUp</span>
  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link" routerLink='/home'>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-button [rounded]="true" (click)="logout()" severity="help">
        <span class="ms-1">Logout</span>
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
      </p-button>
    </div>
  </ng-template>
</p-menubar>
