<div class="mt-4 flex justify-center flex-col">
  <span class="text-2xl font-bold flex justify-center">{{dati["nomePacchetto"]}}</span>
  <div class="grid grid-cols-2 gap-10 mt-5">
    <div class="flex justify-center">
      <img [src]="dati['immagine']" class="mt-2 max-w-4xl" width="80%"/>
    </div>
    <div class="grid grid-cols-2 gap-5">
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-location-dot" style="color: #63E6BE;"></i>
        <span>{{ 'Locatità: ' + dati['citta'] }}</span>
      </div>
        <div class="flex flex-row items-start gap-1 text-lg">
          <i class="fa-solid fa-flag" style="color: #62cbe5"></i>
          <span>{{dati.paese[1]}}</span>
          <span [class]="('fi fi-' + dati.paese[0].toLowerCase())"></span>
        </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-calendar-days" style="color: #ea9d34;"></i>
        <span>{{ 'Inizio: ' + periodo[0] }}</span>
      </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-calendar-days" style="color: #c4a7e7;"></i>
        <span>{{ 'Fine: ' + periodo[1] }}</span>
      </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-plane-departure" style="color: #ffbe0b;"></i>
        <span>{{ 'Partenza: ' + dati['partenza'] }}</span>
      </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-plane-arrival" style="color: #d62828;"></i>
        <span>{{ 'Arrivo: ' + dati['arrivo'] }}</span>
      </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-users" style="color: #22577a;"></i>
        <span>{{ 'Posti liberi: ' + dati['posti_liberi'] }}</span>
      </div>
      <div class="flex flex-row gap-1 text-lg">
        <i class="fa-solid fa-sack-dollar" style="color: #80ed99;"></i>
        <span>{{ 'Costo: ' + dati['costo'] + '€'}}</span>
      </div>
      <div class="relative">
      <p-card class="flex items-center col-span-2" header="Prenota subito!" [style]="{ position: 'absolute', left: '0px' }">
        <div class="flex flex-row gap-1">
          <span>Sono rimasti</span>
          <span class="font-bold" style="color: #d62828">pochissimi</span>
          <span>posti, sbrigati!</span>
        </div>
        <p-button class="mt-2 flex justify-center" label="Clicca qui" severity="success" outlined rounded (onClick)="apriModal();" />
      </p-card>
      </div>
    </div>
  </div>

</div>
