@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se li metto in navbar.css, è come se non li mettessi */
@media only screen and (max-width: 959px) {
  .p-menubar-end {
    margin-left: initial !important;
  }

  .p-menubar-mobile .p-menubar-button {
    margin-left: auto;
  }
}

.p-datepicker {
  width: 100% !important;
}

